/**
 * The following styles get applied inside the editor only.
 */

.wp-block-create-block-avidly-social-share {
	border: 3px dotted rgb(109, 109, 159);
	background-color: #ffffff;
	color: #555;
	padding: 0.5rem;
}
